.el-scrollbar >>> .el-scrollbar__wrap {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
}

.left-area {
  float: left;
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.el-scrollbar >>> .is-vertical {
  width: 10px !important;
  right: 5px !important;
}

.right-area {
  float: left;
  height: 100%;
  display: table;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}

.content-outer {
  display: inline-block;
  margin-top: 5px;
}

.count-style {
  font-size: 50px;
}

.el-form {
  background-color: #ffffff;
  padding: 0 10px;
}

.el-form-item {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.el-form >>> .el-form-item >>> .el-form-item__label {
  text-align: center !important;
}

.top-radius {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottom-radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.echarts-area {
  min-height: 300px;
}

.el-col {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.el-table {
  border-radius: 5px;
  font-size: 12px !important;
}

.el-card >>> .el-card__header {
  padding: 10px 20px;
  border-bottom: 0 solid #ebeef5;
}

.el-card >>> .el-card__body {
  padding: 10px;
}

.filterPanelPadding {
  padding-right: 5px;
}

.label-text {
  font-size: 14px
}
